*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo1.jpg");
    
    background-repeat: repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
    width: 80px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
    left: 189px;
    
    background-image: url("fondo1.jpg");
    
    }
    
    .contenedor{
    
     
    height: 230px;
    
     
    
    }
    
    .contenidos{

    height: 280px;
        
    width: 100%;
        
    position: absolute;
        
    top: 410px;
        
         
        
    }

    .monomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: justify;
        top: 112%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("monomio.png");
        
    }

    .binomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: justify;
        top: 194%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("Binomio.png");
        
    }

    .polinomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 97%;
        text-align: justify;
        top: 289%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 32px;
        margin-right:5px;
        background-image: url("polinomio.png");
        
    }
    .mental{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: justify;
        top: 112%;
        float: left;
        left: 50%;
        height: 430px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("mapa.png");
        
    }

    .vmonomio{

 
        position: absolute;
        text-align: justify;
        top: 105%;
        float: left;
        left: 39%;
    }

    .vbinomio{

 
        position: absolute;
        text-align: justify;
        top: 188%;
        float: left;
        left: 39%;
    }

    .vpolinomio{

 
        position: absolute;
        text-align: justify;
        top: 300%;
        float: left;
        left: 39%;
    }

    .texto{
    position: relative;
    top: 80px;
    font-size: 40px;
    left: 10px;
    text-align: justify;
    
    color: rgb(0, 0, 0);
    
     
    
    }
    
    .materia{
    font-size: 62px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    }

    .contenido{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 425px;
    font-size: 18px;
    left: 10px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;

    }

    .titulo{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 50%;
    text-align: justify;
    left: 550px;
    font-size: 38px;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

    }

    .noticia{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 50%;
    text-align: center;
    left: -6px;
    font-size: 38px;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

